/* Estilo principal para os contêineres */
.adicionar-jogo-container,
.editar-jogo-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6); 
  backdrop-filter: blur(10px); /* Efeito de desfoque no fundo */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); /* Sombra sutil */
  font-family: Arial, sans-serif;
}


/* Títulos */
.adicionar-jogo-container h1,
.editar-jogo-container h1 {
  text-align: center;
  color: #ff66b2; /* Rosa EpicPlay */
  font-size: 26px;
  margin-bottom: 20px;
}

/* Grupos de formulário */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
}

.form-group input[type="file"] {
  padding: 5px;
}

/* Textarea */
textarea {
  resize: vertical;
  height: 100px;
}

/* Botões */
button[type="submit"],
.btn-save {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background-color: #ff66b2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover,
.btn-save:hover {
  background-color: #ff2a5d; /* Rosa mais escuro */
}

button[type="submit"]:active,
.btn-save:active {
  background-color: #e0559d;
}

.toastify {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}
