/* Estrutura básica */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.empresa-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.empresa-header {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
  --input-focus: black;
  --font-color: #323232;
  --font-color-sub: #323232;
  --bg-color: #f7eee9;
  --main-color: black;
  padding: 20px;
  background: #ffc1d5; /* Fundo do formulário */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  width: 600px;
  min-height: 380px;
  background: url('./uploads/fundo.jpg') no-repeat center center; /* Imagem de fundo */
  background-size: cover; /* Garante que a imagem cubra todo o fundo */
}
  
/* Foto da Empresa */
.empresa-foto1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffc1d5d8;
}

/* Informações da Empresa */
.empresa-info h1 {
  font-size: 2rem;
  margin: 0;
  color: #e91e63;
  
}

.empresa-info p {
  margin: 10px 0;
  font-size: 1.1rem;
  line-height: 1.5;
}

.social-links a {
  margin: 15px auto;
  width: 100px; /* Aumenta a largura do botão */
  height: 30px; /* Aumenta a altura do botão */
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 16px; /* Aumenta o tamanho da fonte */
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  display: inline-block;
  
}

.social-links a:hover {
  background-color: #f8f8f8;
}

/* Seção Sobre a Empresa */
.empresa-image {
  text-align: center;
  margin-top: 30px;
}

.empresa-image h2 {
  font-size: 1.8rem;
  color: #fcdfe9;
  margin-bottom: 20px;
}

.empresa-foto2 {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (max-width: 768px) {
  .empresa-header {
    flex-direction: column;
    text-align: center;
  }

  .empresa-foto1 {
    margin: 0 auto 20px;
  }

  .empresa-info h1 {
    font-size: 1.8rem;
  }

  .empresa-info p {
    font-size: 1rem;
  }
}
