body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0; 
}

.login-form {
  --input-focus: black;
  --font-color: #323232;
  --font-color-sub: #323232;
  --bg-color: #f7eee9;
  --main-color: black;
  padding: 20px;
  background: #ffc1d5; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  width: 350px;
  min-height: 380px;
  background: url('./uploads/fundo.jpg') no-repeat center center; 
  background-size: cover; 
}

.login-title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 30px; 
  margin-bottom: 8px;
  text-align: left;
}

.login-title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 30px; 
  text-align: left;
}

.login-input {
  width: 100%;
  height: 40px; 
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 16px; 
  font-weight: 600;
  color: var(--font-color);
  padding: 8px;
  outline: none;
}

.login-input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.login-input:focus {
  border: 2px solid var(--input-focus);
}

.login-with {
  display: flex;
  gap: 20px; 
  margin-top: 15px;
}

.login-button-log {
  cursor: pointer;
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button-log svg {
  width: 30px; 
  height: 30px; 
  fill: var(--main-color);
}

.login-button-confirm {
  margin: 15px auto;
  width: 180px; 
  height: 50px; 
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 16px; 
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  display: inline-block;
}

.login-login-link {
  text-align: center;
  margin-top: 5px;
  color: var(--font-color);
}

.login-login-btn {
  color: var(--font-color);
  text-decoration: none;
  font-weight: bold;
}

.login-login-btn:hover {
  text-decoration: underline;
}