body.cadastro-page {
  background-image: url('./uploads/fundo\ 2.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
}

.register-form {
  --input-focus: black;
  --font-color: #323232;
  --font-color-sub: #323232;
  --bg-color: #f7eee9;
  --main-color: black;
  padding: 20px;
  background: #ffc1d5; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  width: 350px;
  min-height: 380px;
  background: url('./uploads/fundo.jpg') no-repeat center center; 
  background-size: cover; 
}

.register-title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 30px; 
  margin-bottom: 8px; 
  text-align: left;
}

.register-title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 30px; 
  text-align: left;
}

.register-input {
  width: 100%;
  height: 40px; 
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  padding: 8px; 
  outline: none;
}

.register-input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.register-input:focus {
  border: 2px solid var(--input-focus);
}

.register-login-with {
  display: flex;
  gap: 10px; 
  margin-top: 15px; 
}

.register-button-log {
  cursor: pointer;
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  font-size: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-icon {
  width: 20px;
  height: 20px; 
  fill: var(--main-color);
}

.register-button-confirm {
  margin: 15px auto;
  width: 180px; 
  height: 50px; 
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  display: inline-block;
}

.register-login-link {
  text-align: center;
  margin-top: 10px; 
  color: var(--font-color);
}

.register-login-btn {
  color: var(--font-color);
  text-decoration: none;
  font-weight: bold;
}

.register-login-btn:hover {
  text-decoration: underline;
}