.user-profile-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .user-profile-container h1,
  .user-profile-container h2 {
    color: #ff78cb; /* Rosa escuro */
  }
  
  .user-games, .last-game, .user-friends {
    margin-top: 20px;
  }
  
  .user-games ul, .user-friends ul {
    list-style-type: none;
    padding: 0;
  }
  
  .user-games li, .user-friends li {
    background-color: #f4a8c0; /* Rosa pastel */
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
  }
  